/* Profile Picture */
.jim {
width: 25%;
height: 25%;     
}

/* Main Background */
.container-fluid {
text-align: center;
text-size-adjust: 10px;  
}

/* Work Section Text Alignment */
.card-text {
text-align: center;
}

/* Header Style */
#header {
color: #0c0c0c;
font-size: auto;
font-weight: bold;
padding: 30px;
background-image: url(../images/matrix.jpg);   
}

/* Work Section */
#work-section {
color: #0f0f0f;
font-size: auto;
font-weight: bolder;
 text-shadow: #f50a0a;
background-image: url();
}

/* Hyperlink Hover Effect */
a:hover {
color: #eeedf3; 
text-decoration: underline;
text-decoration-color: #7c70e9;
}

/* Button Hover Effect - Box Shadow */
.btn:hover {
box-shadow: 0px 20px 20px rgba(110, 3, 124, 0.9); 
transition: box-shadow 0.2s ease; 
text-decoration-color: #9f0af5;
}

/*Skills Section*/
#skills {
text-align: center;
font-weight: bold;
background-image: url(../images/blueee.jpg);
color: rgb(0, 0, 0);
padding: 45px;
}

/* Contact Style */
#about-contact {
text-align: center;
font-weight: bold;
background-image: url();
color: rgb(248, 248, 248);
padding: 30px;
background-image: url(../images/Banners.jpg);
}

/* Header Style */
#container-fluid py-5 {
background-image: url();
}

/* Header Style */
#hero {
background-image: url(../images/blueee.jpg);  
}

/* Navbar Text */
.nav link { 
font-weight: bold;
}

/* Footer */
.footer {
text-align:center;
font-weight: bolder;
color: aliceblue;
padding-block: 20px;
background-image: url(../images/matrix.jpg);
}

/* Skills Section Style */
#skills {
    padding: 20px;
    text-align: center;
  }
  
  #skills h3 {
    font-size: 24px; 
    color: #080808;
  }
  
  #skills li {
    font-size: 22px;
    margin: 10px 0;
  }
  
  /* List Style */
  #skills li:nth-child(odd) {
    color: rgb(83, 3, 121) /* Blue color for odd items */
  }
  
  #skills li:nth-child(even) {
    color: #b6033f; /* Pink color for even items */
  }