.jim {
    width: 25%;
    height: 25%;
    
}

.container-fluid {
    text-align: center;
    text-size-adjust: 10px;
    
}

.card-text {
    text-align: center;
}

#header {
    color: #0c0c0c;
    font-size: auto;
    font-weight: bold;
    padding: 10px;
    
}

#work-section {
    color: #0f0f0f;
    font-size: auto;
    font-weight: bolder;
    text-shadow: #f50a0a;
}

.footer {
    background-image: url(../images/matrix.jpg);
    padding: 20px;
    mask-position: 20%;
    text-align:center;
    font-weight: bolder;
    color: aliceblue;
}

.row {
    background-image: url(../images/Banners.jpg);
    padding: 0%;
    
    
}

/* Hyperlink Hover Effect */
a:hover {
  color: #4133ff; 
  text-decoration: underline;
}

/* Button Hover Effect - Box Shadow */
.btn:hover {
  box-shadow: 0 4px 6px rgba(219, 12, 12, 0.9); 
  transition: box-shadow 0.2s ease; 
}

#skills {
text-align: center;
font-weight: bold;
background-image: url(../images/Banners.jpg);
color: white;
}
